<h1 style="text-align: center;">Bienvenido a Materiales Apasco</h1>

<div class="row container-fluid">
    <div class="col-md-2" style="margin-left: 3em;" *ngFor="let item of data">
        <div class="card" style="width: 15rem;height: 28rem; margin-top: 2em;">

            <img class="card card-img-top" [src]="item.url" style="width: 15rem; height: 15rem;">

            <div class="card-body">
                <h4 class="card-text" style="text-transform: capitalize;">{{item.material}}</h4>
                <p class="card-text text-muted" style="text-transform: capitalize;">{{item.descripcion}}</p>

            </div>
            <div class="card-footer"><button class="btn btn-primary btn-block" (click)="verMaterial(item)">ver mas...</button></div>
        </div>
    </div>
</div>