<div style="text-align: center;">

    <div class="card text-dark border-dark mx-auto mt-2 mb-3 col-md-4">
        <div class="card-body card-">
            <div class="card-title">
                <h4>Materiales de Construccion APASCO</h4>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th>Material</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Operiaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table" *ngFor="let item of collection.data | paginate: config">
                <td style="text-transform: capitalize;"><img [src]="item.url" style="width: 50px;   margin-right: 1rem;">{{item.material}}</td>
                <td style="text-transform: capitalize;">{{item.descripcion}}</td>
                <td>{{item.cantidad}} pzs</td>
                <td>${{item.precio}}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
                    <button type="button" class="btn btn-primary" (click)="editarMaterial(content,item)">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

    <!-- Todo esto es el html del Modal (ventana emergente) -->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Crear/Actualizar Material</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <form [formGroup]="materialForm">
                        <div class="form-group">
                            <strong><label for="">Material</label></strong>
                            <input type="text" formControlName="material" class="form-control">
                        </div>

                        <div class="form-group">
                            <strong><label for="">Descripcion</label></strong>
                            <input type="text" formControlName="descripcion" class="form-control">
                        </div>

                        <div class="form-group">
                            <strong><label for="">Cantidad</label></strong>
                            <input type="number" formControlName="cantidad" class="form-control">
                        </div>

                        <div class="form-group">
                            <strong><label for="">Precio</label></strong>
                            <input type="text" formControlName="precio" class="form-control">
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="hidden" [value]="urlImage|async" formControlName="url">
                            <label><strong>Selecciona una imagen</strong></label>
                            <input type="file" accept=".jpeg,.png,.jpg" (change)="onUpload($event)">
                        </div>

                        <div class="progress form-group">
                            <div class="progress-bar progressbar-striped bg-success" role="progressbar"
                                [style.width]="(uploadPercent|async)+'%'"></div>

                        </div>
                    </form>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button *ngIf="updSave==false && urlImage|async as url" type="button" class="btn btn-success"
                (click)="guardar(url)">Guardar</button>
            <button *ngIf="updSave==true && urlImage|async as url" type="button" class="btn btn-info"
                (click)="actualizar(url)">Actualizar</button>
        </div>
    </ng-template>

    <button type="button" class="btn btn-primary" (click)="nuevoMaterial(content)">Añadir Nuevo Material</button>

</div>